html {
  /* background: linear-gradient(#f7f9fa 40%, #e4ebf0); */
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
